body{
    font-family: sans-serif;
    background-color: rgb(39, 39, 39);
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.container{
    background-color: #fafafa;
    max-width: 370px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    font-size: 14px;
    margin-top: 3rem;
    flex-direction: column;
}
.box{
    margin: 0px 0px 10px;
    padding: 10px 0px;
    max-width: 350px;
    width: 100%;
    width: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    background-color: #ffff;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.heading{
    margin: 22px auto 12px;
    color: black;
    /* background-color:black; */
    background-image: url("./toppng.com-instagram-logo-png-2500x706.png");
    /* background-color: black; */
    height: 51px;
    width: 177px;
    /* display: flex; */
    /* background-position: px 0; */
    /* overflow: hidden; */
    background-repeat: no-repeat;
    background-size: 100%;
}
.field{
    /* border: 0.2px solid grey; */
    margin: 10px 0px;
    position: relative;
    font-size: 14px;
    width: 100%;
    text-overflow: ellipsis;
}
input{
    padding: 9px 0px 7px 9px;
    font-size: 12px;
    width: 16rem;
    height: 1.2rem;
    outline: none;
    background: #fafafa;
    border-radius: 3px;
    border: 1px solid #efefef;
}
label{
    position: absolute;
    pointer-events: none;
    left: 10px;
    transform: translateY(10px);
    line-height: 6px;
    transition: all ease out 0.1s;
    font-size: 14px;
    color: #999;
    padding-top: 6px;
}
input::placeholder{
    visibility: hidden;
}
.login-form::-moz-placeholder{
    color: transparent;
}
.login-button{
    text-align: center;
    width: 100%;
    padding: 0.5rem;
    background-color: #3897f0;
    border: 1px solid transparent;
    color: #ffff;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}
.separator{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #999;
    margin-top: 6px;
}
.separator .line{
    height: 1px;
    width: 40%;
    background-color: #dbdbdb;
}
.other{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.fb-login-btn{
    margin: 1rem;
    border: 0;
    cursor: pointer;
    font-size: 14px;
    color: #385185;
    font-weight: 600;
    background: transparent;
}
/* .fb-icon{
    color: #385185;
    font-size: 1rem;
    padding-right: 100px;
} */
.forgot-password{
    font-size: 11px;
    color: #003569;
    position: relative;
    left: 85px;
}
.signup{
    color: #3897f0;
    font-weight: 600;
}
/* .img{
    background-image: url("./toppng.com-instagram-logo-512x512.png");
    position: relative;
    right: 5px;
} */